.Body{
    background-color: #82FFD1;
}

.mainCointainer{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.naglowek{
    margin: auto;
    height: 30px;
    width: 600px;
}
.navlewa{
    text-align: left;
    float: left;
    width: 200px;
}

.navGlowna{
    text-align: center;
    float: left;
    width: 200px;
}

.navPrawa{
    text-align: right;
    float: left;
    width: 200px;
}

.indexContainer{
    margin: 100px;
}

.ptaszki{
    margin: 150px;
    padding-right: 50px;
}

.wszystkoZPtakiem{
    padding-top: 20px;
    max-width: 1000px;
    margin: auto;
}

.opisPtaka{
    float: left;
    width: 580px;
    padding-top: 5%;
}

.zdjeciePtakaiOdsluch{
    float: left;
    width: 420px;
    text-align: center;

}

a:visited{
	color: #FFAD87;
}

a:hover{
	color: #ACB9FA;
}

img{
    width: 400px;
    height: 300px;
}

figure{
    border: 1px solid #BEC7C7;
    max-width: 420px;
    max-height: 320px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #BEC7C7;
}

figcaption{
    padding: 1%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

audio{
    padding-top: 1%;
}

h2{
    padding-right: 20px;
    text-align: justify;
}